<%= link_to 'Share this Blog on Facebook', '#', :class => "fb_share"  %>
<%= facebook_share_once %>

<div id="home">
  <h1><%= User.find(params[:id]).blog_title %></h1>
  

  <% if current_user && !current_user.blog_title? %>
   <p>To get started choose a name for your blog.</p>
   <p>(Note: You won't be able to change the title, so choose carefully...)</p>
   <%= render 'users/form' %>

  <% end %>

  <% if current_user && current_user.blog_title? && (current_user == @user) %>
    <h2>
      <%= link_to "+ Add New Post +", user_new_post_path(current_user) %>
    </h2>
  <% end %>

  <% unless @posts.blank? %>
    <% @posts.each do |post| %>

      <h2><%= link_to post.title, user_post_path(post.user, post) %></h2>
      <!-- <p> -->
        <% time_ago_in_words post.created_at %> 
      <!-- </p> -->
      <!-- <p> -->
        <% truncate post.text %>
      <!-- </p> -->
    <% end %>
  <% end %>
</div>

