<%= form_for([current_user, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# f.hidden_field :user_id, current_user %>

  <div class="field">
    <%= f.text_field :title, placeholder: "<Title>" %>
  </div>
  <div class="field">
    <%= f.text_area :text, placeholder: "<Text>" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Post", :class => "submit" %>
  </div>
<% end %>
