<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :atom, "/posts.atom" %>
</head>
<body>
<div id="navigation">
  <div style="float:left;">
  <% if current_user %>
    <%= link_to 'Luddite Blogger', user_slug_path(current_user)  %>
  <% else %>
    <%= link_to 'Luddite Blogger' %>
  <% end %>
  </div>
  <div style="float:right;">
    <%= link_to 'Share on Facebook', '#', :class => "fb_share"  %>
    <%= facebook_share_once(
          :name => "Luddite Blogger", 
          :picture => "http://etc.usf.edu/clipart/62800/62839/62839_typewriter_lg.gif",
          :description => facebook_share_description_text) %>
    <% if current_user %>
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in", "/auth/facebook", id: "sign_in" %>
      <% end %>
  </div>

</div>
  <div id="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
  
    <%= yield %>

  </div>
</body>
</html>
